/* 페이지 전체의 Layout부분 크기 */
.ant-layout{
    min-height: 100vh;
}
/* Layout의 Header부분 배경색, 오른쪽정렬*/
.ant-layout-header{
    background-color: white;
    text-align: end;
}
/* Layout의 Content부분 가운데정렬 */
.ant-layout-content{
    margin: 0 16px;
}
/* Content 내부 전체 묶음 틀 가운데정렬, 너비조정 */
.wrap{
    margin: 0 auto;
    width: 1200px;
}
/* 년, 월, 인쇄버튼 통합 부분 밑으로 조금 띄우기*/
.header{
    margin-bottom: 20px;
}
/* 년, 월 선택 부분 */
.dateheader{
    display: inline-block;
    margin-left: 44%;
}
/* 년도 선택 너비 */
.selecty{
    width: 80px;
}
/* 월 선택 너비 */
.selectm{
    width: 60px;
}
/* 인쇄 버튼 부분 오른쪽정렬 */
.printheader{
    display: inline-block;
    float: right;
}
/* 근무현황 부분 가운데정렬 */
.printtitle{
    display: inline-block;
    margin-left: 40%;
    text-align: center;
}
/* (초과)근무시간 합계 왼쪽 부분 너비, 가운데정렬, 배경색 */
.worktimeleft{
    display: inline-block;
    width: 40%;
    text-align:center;
    background-color: orange;
}
/* (초과)근무시간 합계 오른쪽 부분 너비, 가운데정렬, 배경색 */
.worktimeright{
    display: inline-block;
    width: 10%;
    text-align:center;
    background-color: white;
}

