/* [antd 전체 적용] 페이지 전체의 Layout부분 크기 */
.ant-layout{
    min-height: 100vh;
}
/* [antd 전체 적용] Layout의 Header부분 배경색, 오른쪽정렬 */
.ant-layout-header{
    background-color: white;
    text-align: end;
}
/* [antd 전체 적용] Layout의 Content부분 가운데정렬 */
.ant-layout-content{
    margin: 0 16px;
}
/* MainWork Content 내부 전체 묶음 틀 가운데정렬, 너비조정 */
.mainwrap{
    margin: 0 auto;
    width: 1200px;
}
/* MainWork 년, 월, 인쇄버튼 통합 부분 밑으로 조금 띄우기*/
.mainheader{
    margin-bottom: 20px;
}
/* MainWork 년, 월 선택 부분 */
.dateheader{
    display: inline-block;
    margin-left: 44%;
}
/* MainWork 년도 선택 너비 */
.selectyear{
    width: 80px;
}
/* MainWork 월 선택 너비 */
.selectmonth{
    width: 60px;
}
/* MainWork 인쇄 버튼 오른쪽정렬 */
.printheader{
    display: inline-block;
    float: right;
}
/* MainWork 근무현황 위치, 가운데정렬 */
.printtitle{
    display: inline-block;
    margin-left: 40%;
    text-align: center;
}
/* MainWork (초과)근무시간 합계 레이블 너비, 가운데정렬, 배경색 */
.worktimeleft{
    display: inline-block;
    width: 40%;
    text-align:center;
    background-color: orange;
}
/* MainWork (초과)근무시간 합계 출력부분 너비, 가운데정렬, 배경색 */
.worktimeright{
    display: inline-block;
    width: 10%;
    text-align:center;
    background-color: white;
}

