/* [antd 전체 적용] 페이지 전체의 Layout부분 크기 */
.ant-layout{
    min-height: 100vh;
}
/* [antd 전체 적용] Layout의 Header부분 배경색, 오른쪽정렬 */
.ant-layout-header{
    background-color: white;
    text-align: end;
}
/* [antd 전체 적용] Layout의 Content부분 가운데정렬 */
.ant-layout-content{
    margin: 0 16px;
}

/* HolidayUser 연가신청 버튼 오른쪽정렬 */
.btn{
    float: right;
}
/* HolidayUser Calendar 높이, 글씨크기 */
.cal{
    height: 800px;
    font-size: 20px;
}

/* HolidayUserAdd 연가신청 표 크기 */
.descript{
    width: 700px;
}
/* HolidayUserAdd 연가신청 전체 가운데 정렬 */
.desc_item{
    text-align: center;
}
/* HolidayUserAdd 연가종류, 내용 입력부분(select, inpt) 너비 */
.holyinput{
    width: 450px;
}