/* WorkManage Layout의 Content부분 가운데정렬 */
.managecontent{
    margin: 0;
    width: 100%;
}
/* WorkManageSend 왼쪽부분 위치, 너비조정 */
#leftside{
    float: left;
    width: 25%;
}
/* WorkManageSend 부서레이블 배경, 글씨색 지정 */
#deptbtn{
    background-color: orange;
    color: black;
}
/* WorkManageSend 부서선택박스 크기 지정 */
.selectdept{
    width: 88px;
}
/* WorkManageSend 직원리스트 전체 위치 조정 */
#emplist{
    margin-top: 7.3%;
}
/* WorkManageSend 직원리스트제목 글씨크기, 가운데정렬, 배경색 */
#emplist_title{
    font-size: 160%;
    text-align: center;
    background-color: orange;
}
/* WorkManageSend 업무지시부분 칸 위치, 너비 지정*/
#rightside{
    float: left;
    width: 64%;
    margin-left: 12px;
}
/* WorkManageSend 업무지시부분 전체 틀 높이 지정 */
#rightwrap{
    height: 50%;
    margin-top: 7%;
}
/* WorkManageSend 업무지시 전체 레이블 너비, 글씨크기, 가운데정렬, 배경색 */
.rightlabel{
    display: inline-block;
    width: 15%;
    font-size: 160%;
    text-align: center;
    background-color: orange;
}
/* WorkManageSend 보낸날짜 출력부분 너비, 높이, 가운데정렬(가로, 세로), 배경색 */
#rightstart{
    display: inline-block;
    width: 35%;
    height: 35px;
    text-align: center;
    background-color: white;
    vertical-align: top;
    padding-top: 6px;
}
/* WorkManageSend 종료날짜 출력부분 너비, 높이, 가운데정렬 */
#rightend{
    display: inline-block;
    width: 35%;
    height: 10px;
    text-align-last: center;
}
/* WorkManageSend 종료날짜 선택 datepicker 너비 지정 */
.enddate{
    width: 100%;
}
/* WorkManageSend 업무지시 제목 입력부분 너비 */
#righttitle{
    display: inline-block;
    width: 85%;
}
/* WorkManageSend 업무지시 제목 input 크기 */
.titleinput{
    font-size: 140%;
}

/* WorkManageInfo 전체 틀 너비, 테두리 서식 */
#managewrap{
    width: 470px;
    border: solid 1px lightgray;
}
/* WorkManageInfo 왼쪽 레이블 너비, 높이, 가운데정렬, 테두리 선, 글씨크기 */
.manageleft{
    display: inline-block;
    width: 25%;
    height: 35px;
    text-align: center;
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    font-size: 18px;
}
/* WorkManageInfo 오른쪽 내용 너비, 높이, 가운데정렬, 테두리 선, 글씨크기 */
.manageright{
    display: inline-block;
    width: 75%;
    height: 35px;
    text-align: center;
    border-bottom: solid 1px lightgray;
    font-size: 18px;
}
/* WorkManageInfo 내용 레이블 높이, 가운데정렬, 테두리 선, 글씨크기 */
#managecontent{
    height: 35px;
    text-align: center;
    border-bottom: solid 1px lightgray;
    font-Size: 18px;
}
/* WorkManageInfo 내용 출력부 높이, 글씨크기 */
#managecontentprint{
    height: 150px;
    font-size: 18px;
}